

/* body {
  background-image: url(C:\Users\ppate\OneDrive\Documents\newpages\public\login-page--1@3x.png);
 
    } */
    
    .app-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 70px;
    color: #160674;
    margin-top: 2rem;
    }
    .id{
        margin: auto;
        font-size: larger;
    }
    .btn btn-primary mt-2{
        margin-top: 800px;
        padding-top: 800px;

    }
    .options {
        padding: 40px;
        border: 2px solid #000;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color:  #160674;;
        color:white;
        font-weight:25px;
        font-size: 27px;
        border-radius: 10px;
    }
    .id{
        padding: 40px;
        text-align: center;
        font-family: Arial;
        color: #000;
    }
    .form-check {
        display: block;
        min-height: 3.5rem;
        padding-left: 2.5em;
        margin-bottom: 0.125rem;
    }
    
    .mt-2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.02rem;
    }
    
    .mt-2 {
        margin-top: 4.5rem!important;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        
        margin-bottom: 1.5rem;
    }
    .count{
        margin-right: 0;
         margin-top: 0;
         background-color: white;
    }
    .default{
background-image: url(/public/property-1default@3x.png);
width: 1440px;
    }
    

    .mrunal {
   
        margin-bottom: 3000 px;   
     }
     
     .gg {
         background-color:  #160674;;
         border-radius: 7px;
         color: aliceblue;
         margin-left: 1000px;
         border: 3 px;
         border-color: rgb(177, 198, 222);
        
     }